.container{
	width: 40%;
	margin: 5% auto;
	border: 1px solid green;
	border-radius: 5%;
	padding: 5%;
	padding-top: 7%;
	text-align: left;
	color: green;
	border-top: 2px solid green;
	border-bottom: 2px solid green;
}

.member{
	padding-top: 2%;
}